body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header, nav, aside, section, footer{
    display: block;
}

header{
    background:#ebebeb;
    width:860px;
    text-align: center;
    height: 100px;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 15px;
    vertical-align: middle;
    line-height: 100px;

}

nav{
    background:#ebebeb;
    width:860px;
    text-align: center;
    height: 100px;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 130px;
    vertical-align: middle;
    line-height: 100px;

}

section{
    background:#ebebeb;
    width: 495px;
    text-align: center;
    height: 300px;
    position: absolute;
    left: 50px;
    right: 415px;
    top: 250px;
    vertical-align: middle;
    line-height: 100px;
    float: left;
}

article{
    background: #777;
    color: #ebebeb;
    width: 475px;
    text-align: center;
    height: 200px;
    position: relative;
    left: 10px;
    right: 10px;
    top: -20px;
    vertical-align: middle;
    line-height: 85px;
}

h1{
    color: #777;
    background-color: #ebebeb;
    width: 435px;
    text-align: center;
    height: 50px;
    position: relative;
    left: 20px;
    right: 20px;
    top: -40px;
    vertical-align: middle;
    line-height: 50px;

}

p{
    color: #777;
    background-color: #ebebeb;
    width: 435px;
    text-align: center;
    height: 50px;
    position: relative;
    left: 20px;
    right: 20px;
    top: -50px;
    vertical-align: middle;
    line-height: 50px;

}

aside{
    background:#ebebeb;
    width: 350px;
    text-align: center;
    height: 300px;
    position: absolute;
    left: 560px;
    right: 10px;
    top: 250px;
    vertical-align: middle;
    line-height: 100px;
    float: left;
}

footer{
    background:#ebebeb;
    width:860px;
    text-align: center;
    height: 100px;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 560px;
    vertical-align: middle;
    line-height: 100px;

}